h3 {
  text-decoration: underline
}

body{
  background-color: #ccffcc;
}

tbody td {
  font-style: italic;
}

#albumcover{
  background-image: url(https://upload.wikimedia.org/wikipedia/en/b/bd/Toto_Toto_IV.jpg);
  width:400px;
  height:400px;
  background-repeat: no-repeat;
}

.hostedfont{
  font-family: 'Oswald', sans-serif;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  background-color: green;
}
